#dashboard-main {
    align-items: flex-start;
    display: flex;
    /* height: 100px; */
    justify-content: space-between;
    margin-bottom: 2rem;
    padding-top: 4rem;
    position: relative;
}

#dashboard {
    margin-right: 50px;
}

#dashboard h5 {
    color: var(--palette-4);
    font-weight: 500;
}

#dashboard p {
    color: var(--palette-4);
    font-weight: 500;
}

#profile {
    align-items: center;
    color: var(--palette-4);
    cursor: pointer;
    display: flex;
    height: 10px;
}

#profile img {
    display: block;
    height: 20px;
    margin-right: 5px;
    width: 20px;

}

#profile h4 {
    font-size: 1rem;
    margin: 0;
}

main {
    padding: 0 2.5rem;
}

.drop-down {
    background: var(--palette-4);
    border-radius: 5px;
    bottom: -140px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    box-sizing: border-box;
    overflow: hidden;
    position: absolute;
    right: 0;
    width: 200px;
}

.drop-down a {
    align-items: center;
    color: var(--palette-2);
    display: flex;
    font-size: .9rem;
    font-weight: 600;
    margin-bottom: 0.9rem;
    padding: 7px 10px;
    text-align: right;
    text-decoration: none;
    width: 100%;
}

.drop-down a:hover {
    background: var(--palette-3);
}


.drop-down a img {
    margin-right: 6px;
    width: 20px;
}

.d-none {
    display: none;
}

@media only screen and (max-width: 576px) {
    /* .drop-down a:hover {
        background: var(--palette-4);
    } */
}